@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.courses-header {

    & h2.heading-2 {
        width: fit-content;
        margin: auto;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    & .subheading {
        text-align: center;
    }

    & .features {
        font-family: "Poppins", sans-serif;
        font-size: 2.2rem;
        font-weight: bold;

        & li {
            list-style: inside disc;
            padding-left: 1rem;
            line-height: 2rem;
            font-size: 2rem;
            color: var(--primary--color);
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
    }
}


.courses-container {
    width: 80vw;
    margin: auto;
}

.card-section {
    margin-block: 1rem;
    display: flex;
    justify-content: center;
    padding-block: 5rem;

    & .card-container {
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(3, minmax(30rem, 40rem));

        & .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--pri-bg--color);
            list-style: inside;
            border-radius: 10px;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px 1px;

            & .card-header {
                & img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    border-radius: 10px 10px 0 0;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 10px;
                }

                & .content{
                    padding: 1.75rem;
                    line-height: 1;
                }

                & h3 {
                    font-size: 2.5rem;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                }

                & p {
                    display: none;
                    font-size: 1.75rem;
                    color: var(--pri-text--color);
                    margin-bottom: 1rem;
                }
            }

            & .card-footer {
                padding: 1rem 2rem;
                background-color: var(--pri-bg--color);
                border-radius: 0 0 10px 10px;
                font-size: 2rem;
                display: flex;
                justify-content: space-between;

                & .price {
                    margin-bottom: 1rem;
                    font-weight: 700;
                    color: var(--pri-text--color);

                    & del {
                        font-weight: 400;
                        font-size: 1.75rem;
                    }
                }

                & .btn {
                    display: inline-block;
                    width: 100px;
                    padding: 0.5rem 1rem;
                    padding-bottom: 1rem;
                    border-radius: 5px;
                    border: 2px solid var(--sec-bg--color);

                    &:hover {
                        background-color: var(--sec-bg--color);
                        color: var(--ter-text--color);
                    }
                }
            }

        }
    }
}

footer#footer {
    padding-top: 5rem;
}